<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/gwoa_logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sales_table.css') }}"
    />
    <style>
      .header-print {
        display: none;
      }
      @media print {
        .header-print {
          display: block;
        }
        .gwa-sidebar {
          display: none !important;
        }
        .btn-print {
          display: none !important;
        }
        .go-back {
          display: none !important;
        }
      }
    </style>
    <title>View Sales</title>
    {% include 'components/header.html' %}
  </head>
  <body>
    <div class="d-flex">
      {% include 'components/navbar.html' %}
      <div class="w-100">
        {% include 'components/navigation.html' %}
        <div class="container mt-5">
          <div class="row align-items-center">
            <div class="header-print">
              <div class="d-flex">
                <div class="d-flex" style="width: 15%">
                  <img
                    class="img-fluid me-2"
                    src="{{ url_for('static', filename='img/gwoa_logo.png') }}"
                    alt="Logo"
                    style="width: 70px; height: 70px"
                  />
                </div>
                <div style="width: 85%">
                  <h6 class="fw-bolder m-0" style="font-size: 20px">
                    GREAT WALL ARTS
                  </h6>
                  <p class="m-0 p-0">
                    2F Unit 203 Solen Building C. Raymundo corner F. Legaspi,
                    Maybunga Pasig 09175000318 / 02 87494031
                  </p>
                </div>
              </div>
              <hr />
            </div>
            <div class="col-md-12 col-12">
              <div class="row">
                <div class="col-12 col-md-8">
                  <h1 class="fw-bolder">-OJqeBQaJZ1aAeeseDeR</h1>
                  <p class="text-mute">
                    You can view recent transaction details here.
                  </p>
                </div>
                <div
                  class="col-12 col-md-4 d-flex flex-column align-items-md-end"
                >
                  <a href="/sales" class="text-md-end go-back">Go Back</a>
                  <p class="text-muted mt-3 text-md-end">
                    Transaction Date: <span id="timestamp"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Sales Table -->
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 55%"><p>Product Name</p></th>
                    <th style="width: 25%"><p>Regular Price</p></th>
                    <th style="width: 20%"><p>Sale Price</p></th>
                  </tr>
                </thead>
                <tbody id="sales-table-body"></tbody>
              </table>
            </div>
            <div class="col-12 col-md-8"></div>
            <div class="col-12 col-md-4 pb-1 px-3 m-0 mt-5">
              <h4 class="fw-bolder d-flex justify-content-between pb-1 m-0">
                <span>Total Sales:</span>
                <span>₱<span id="total-sum"></span></span>
              </h4>

              <div
                class="d-flex justify-content-between align-items-center pb-1 m-0"
              >
                <p class="text-muted pb-1 m-0">Capital:</p>
                <span id="capital" class="text-muted pb-1 m-0"></span>
              </div>

              <div
                class="d-flex justify-content-between align-items-center pb-1 m-0"
              >
                <p class="text-muted pb-1 m-0">Earnings:</p>
                <span id="earnings" class="text-muted pb-1 m-0"></span>
              </div>
              <button
                onclick="print()"
                class="btn btn-warning btn-print w-100 mt-3"
              >
                <i class="bi bi-printer"></i> Print
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'components/footer.html' %}

    <!-- jQuery (Required) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/view_sales.js') }}"></script>
  </body>
</html>
