<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/gwoa_logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sales_table.css') }}"
    />
    <style>
      .header-print {
        display: none;
      }
      @media print {
        .header-print {
          display: block;
        }
        .gwa-sidebar,
        .btn-print,
        .go-back {
          display: none !important;
        }
        p {
          font-size: 12px !important;
        }
      }
    </style>
    <title>View Logistics</title>
    {% include 'components/header.html' %}
  </head>
  <body>
    <div class="d-flex">
      {% include 'components/navbar.html' %}
      <div class="w-100">
        {% include 'components/navigation.html' %}
        <div class="container mt-5">
          <div class="row align-items-center">
            <div class="header-print">
              <div class="d-flex">
                <div class="d-flex" style="width: 15%">
                  <img
                    class="img-fluid me-2"
                    src="{{ url_for('static', filename='img/gwoa_logo.png') }}"
                    alt="Logo"
                    style="width: 70px; height: 70px"
                  />
                </div>
                <div style="width: 85%">
                  <h6 class="fw-bolder m-0" style="font-size: 20px">
                    GREAT WALL ARTS
                  </h6>
                  <p class="m-0 p-0">
                    2F Unit 203 Solen Building C. Raymundo corner F. Legaspi,
                    Maybunga Pasig 09175000318 / 02 87494031
                  </p>
                </div>
              </div>
              <hr />
            </div>
          </div>

          <div>
            <div>
              <div class="row mb-3 g-2">
                <div class="col-12 col-md-8">
                  <h1 class="fw-bolder">Requested Budget</h1>
                </div>
                <div class="col-md-1">
                  <button
                    onclick="accept_budget()"
                    class="btn status-btn d-none w-100 btn-success go-back"
                  >
                    Accept
                  </button>
                </div>
                <div class="col-md-1">
                  <button
                    onclick="reject_budget()"
                    class="btn status-btn d-none w-100 btn-danger go-back"
                  >
                    Reject
                  </button>
                </div>
                <div class="col-md-2">
                  <a
                    href="/budget"
                    class="btn w-100 btn-outline-secondary go-back"
                    >Go Back</a
                  >
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row mb-3" style="font-size: 15px">
                <div class="col-md-6">
                  <div class="d-flex gap-2">
                    <strong>Reference Number:</strong>
                    <span class="reference-number"></span>
                  </div>
                  <div class="d-flex gap-2">
                    <strong>Requested By:</strong>
                    <span class="requested-by"></span>
                  </div>
                  <div class="d-flex gap-2">
                    <strong>Date of Request:</strong>
                    <span class="date-of-request"></span>
                  </div>
                </div>

                <div class="col-md-6 text-md-end">
                  <div class="d-flex justify-content-md-end gap-2">
                    <strong>Department:</strong>
                    <span class="department"></span>
                  </div>
                  <div class="d-flex justify-content-md-end gap-2">
                    <strong>Email:</strong>
                    <span class="email"></span>
                  </div>
                  <div class="d-flex justify-content-md-end gap-2">
                    <strong>Status:</strong>
                    <span class="status"></span>
                  </div>
                </div>
              </div>

              <hr />
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th style="width: 15%"><p>Category</p></th>
                    <th style="width: 20%"><p>Amount</p></th>
                    <th style="width: 20%"><p>Description</p></th>
                  </tr>
                </thead>
                <tbody id="budget-table-body"></tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-8"></div>
            <div class="col-12 col-md-4">
              <button
                onclick="print()"
                class="btn btn-warning btn-print w-100 mt-3"
              >
                <i class="bi bi-printer"></i> Print
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'components/footer.html' %}
    <script></script>
    <!-- jQuery (Required) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/view_requested.js') }}"></script>
    <script src="{{ url_for('static', filename='js/update_requested_budget.js') }}"></script>
  </body>
</html>
