/* Make label text smaller */
.small-label {
  font-size: 15px;
  color: gray;
}

/* Reduce placeholder size */
.small-input::placeholder {
  font-size: 15px;
  color: gray;
}

.gwa-sidebar {
  display: flex;
  flex-direction: column;
}

.navigation {
  background-color: #ffffff;
  display: none;
}

.bg-light-white {
  background-color: white;
}

.bg-accent-green {
  color: green;
}

.doc {
  font-size: 20px;
}
.lnk {
  font-size: 20px;
}

.nav1 {
  width: 20%;
  height: 100vh;
  font-size: 14px;
  background-color: #ffffff;
}

/* Ensure responsiveness */
.chart-container {
  width: 100%;
  max-width: 100%;
}

#invoiceAreaChart {
  width: 100% !important;
  height: auto !important;
}

@media print {
  .nav2 {
    display: none;
  }
  .nav1 {
    display: none;
  }
  .prnt {
    display: none !important;
  }
}
/* Hide the sidebar on screens smaller than or equal to 768px */
@media screen and (max-width: 1000px) {
  .gwa-sidebar {
    display: none;
  }
  .header-prnt {
    display: flex !important;
    flex-direction: column !important;
  }
  p {
    font-size: 12px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .fixed-sidebar {
    display: none;
  }
  .scroll-content {
    margin: 0px;
  }
  .doc {
    display: none;
  }
  .lnk {
    display: none;
  }
  .endpoints {
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .container {
    zoom: 0.8 !important;
  }
}
